
body {
    background-color: #222;
    color: white;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
.container {
    align-items: center;
}
.tabela {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 200;
}
.input-grup {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    border-radius: 30px;
    margin: 0 auto;
    background-color: #333;
    margin-top: 30px;
}
.resultado {
    margin-left: 100px;
}
.paragrafo-resultado, .bad{
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(0, 255, 0);
    color: black;
}
.bad {
    background-color: rgb(255, 0, 0);
}

#resultado {
    text-align: center;
}
section form {
    display: flex;
    flex-direction: column;
}
section {
    display: flex;
    align-items: center;
}
form input {
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 16px;
    border: none;
}
.btn {
    margin-top: 10px;
    background-color: #333;
    border: 2px solid rgb(132, 14, 201);
    color: white;
    padding: 10px;
    border-radius: 16px;
    transition: background-color ease-in-out 0.5s;
}
.btn:hover {
    background-color: rgb(132, 14, 201);
}